{{!-- <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>A Node view</h1>
    {{message}}
    <form action="/node-mongodb-mongoose-user" method="post">
        <input type="text" name="emailBody">
        <button type="submit">Enviar</button>
    </form>
    <h1> Dados de User Recuperados</h1>
    {{ firstNameV }} <br>
    {{ lastNameV }} <br>
    {{ passwordV }} <br>
    {{ emailV }} <br>
    {{ messagesV }} <br>
</body>
</html> --}}
<h1>SIGN UP</h1>
<div class="col-md-8 col-md-offset-2">
    <form action="/register" [formGroup]="myForm" method="post" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">Nome:</label>
            <input type="text" id="firstName" name="firstBody" class="form-control"
                formControlName="firstNameTS">
        </div>
        <div class="form-group">
            <label for="lastName">Sobrenome:</label>
            <input type="text" id="lastName" name="lastBody" class="form-control"
                formControlName="lastNameTS">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="emailBody" class="form-control"
                formControlName="emailTS">
        </div>
        <div class="form-group">
            <label for="pass">Senha:</label>
            <input type="password" id="pass" name="passBody" class="form-control"
                formControlName="passwordTS">
        </div>
        <button class="btn btn-primary" type="submit"
            [disabled]="!myForm.valid">Cadastrar</button>
    </form>
</div>